* {
  /* padding: 0 10px; */
  padding: 0 10px;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background-color: #24283b;
  color: rgb(155, 155, 155);
  border: none;
  border-radius: 15px;
  font-size: 25px;
  padding-right: 10px;
  font-family: "JetBrainsMono NF";
}

#clock {
  /* background-color: #7aa2f7; */
  border-radius: 15px;
  color: white;
}

